/* Global styling */
    @import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .wrapper {
        width: 100%;
    }

    header {
        background-color: white;
    }

    body {
        background-color: white;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Aleo', serif;
        line-height: 2em;
        
    }

    h1 {
        color: #000000;
        font-size: 3.56em;
        font-weight: 500;
    }

    h2 {
        font-size: 2.78em;
        font-weight: 500;
    }

    h3 {
        font-size: 2em;
        font-weight: 500;
    }

    h4 {
        font-size: 1.25em;
        font-weight: 400;
    }

    header a{
        padding: 2em;
    }

    a {
        text-decoration: none; 
        color: black;
    }

    .global_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .global_nav_left {
        flex-basis: 50%;
        text-align: left;
        padding: 1.5em;
        font-family: 'Aleo', serif;
        font-weight: bold;
        letter-spacing: .15em;
    }

    .global_nav_right {
        flex-basis: 50%;
        text-align: right;
        padding: 1.5em;
    }

    .main_width {
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 24px;
        padding-left: 24px;
    }

    .main_padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

/* Index.html styling */
    #header_blobs {
        background-image: url("../images/header_blobs.svg");
        background-size: cover;
        background-position: left center;
        height: 100vh;
        min-height: 43.75em;
        max-height: 54.375em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .header_content_wrap {
        margin-bottom: 4em;
    }

    .header_title {
        text-align: center;
    }

    .header_title_small {
        text-align: center;
    }

    .header_subtitle {
        font-size: 1.5em;
        color: #464646;
        text-align: center;
        padding: 1em;
    }

    #bottom_squiggle {
        background-image: url("../images/squiggle_section.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #work_background {
        background-color: #EDF6FF;
        height: 65vh;
        /* min-height: 58em; */
        /* width: 100%; */
    }

    #work_title {
        text-align: center;
        /* padding-top: 1.5em; */
        padding-bottom: 1.5em;
    }

    .work_container {
        display: flex;
        /* flex-flow: row wrap; */
        justify-content: space-around;
        margin: 0 10%;
        /* padding-bottom: 12em; */
    }

    .work_container > .work_area_wrap {
        flex-flow: column wrap;
        align-items: center;
        flex-grow: 1;
        flex-basis: 26%;
    }

    .work_img_wrap {
        max-width: 50%;
        margin: auto;
    }

    .work_img_wrap > img {
        max-width: 100%;
    }

    .work_label_wrap {
        font-size: 1.25em;
        font-weight: 400;
        /* letter-spacing: 1%; */
        text-align: center;
    }

    /* #portfolio {
        margin: 5% auto;
        max-height: 100%;
    } */

    .portfolio_row {
        display: flex;
        flex-flow: row wrap;
        /* max-width: 80%; */
        margin: auto;
    }

    .portfolio_container {
        margin: 1em;
        border-radius: 1.5em; 
    }

    .portfolio_container#postmates {
        background-color: #FCECD2;
    }

    .portfolio_container#uber {
        background-color: #C0CCE0;
    }

    .portfolio_container_large#projects {
        background-color: #FFECEF;
    }

    .portfolio_row > .portfolio_container{
        flex-grow: 1;
        flex-basis: 40%;
    }

    .portfolio_container > .offset_wrap {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: relative;
        top: -1.2em;
    }

    .portfolio_container > .offset_wrap > .text_wrapper {
        max-width: 20em;
        text-align: center;
        padding: 0 2em;
    }

    .portfolio_container > .offset_wrap > .text_wrapper > h2 {
        line-height: 1em;
        padding-bottom: .5em;
    }

    .portfolio_container > .offset_wrap > .text_wrapper > p {
        line-height: 2em;
        color: #464646;
    }

    .portfolio_container > .offset_wrap > .text_wrapper > a {
        line-height: 2em;
        font-weight: 600;
        padding: 1em;
        margin-bottom: 1em;
        display: block;
    }

    .portfolio_container > .img_wrapper {
        

    }

    .project_img {
        max-width: 100%;
    }

    .portfolio_row_large {
        /* display: flex;
        flex-flow: row wrap; */
        /* max-width: 80%; */
        margin: auto;
    }

    .portfolio_container_large {
        margin: 1em;
        border-radius: 1.5em; 
        /* flex-direction: row-reverse;
        align-items: center;
        position: relative; */
        padding: 0 10%;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        position: relative;
        justify-content: space-between;
        max-height: 27em;
    }

    .portfolio_row_large > .portfolio_container_large {
        flex-grow: 1;
        flex-basis: 40%;
    }

    .portfolio_container_large > .offset_wrap {
        position: relative;
        top: -1.2em;
        left: 5.5em;
    }

    .portfolio_container_large > .text_wrapper {
        text-align: center;
        margin: 5% 0;
        flex-basis: 70%;
        width: 100%;
        /* padding: 0 4em; */
    }

    .portfolio_container_large > .text_wrapper > h2 {
        line-height: 1em;
        padding-bottom: .5em;
    }

    .portfolio_container_large > .text_wrapper > p {
        line-height: 2em;
        /* max-width: 70%;
        margin: auto; */
    }

    .portfolio_container_large > .text_wrapper > a {
        line-height: 2em;
        font-weight: 600;
        padding: 1em;
        display: block;
    }

    .portfolio_container_large > .offset_wrap > .img_wrapper {
        /* max-width: 45%; */
        max-width: 100%;
    }

    .portfolio_container_large > .offset_wrap > .img_wrapper > .project_img {
        flex-basis: 45%;
        width: 100%;
    }

/* Postmates.html styling */
    #postmates_header {
        background-color: #FAD9A5;
        min-height: 90vh;
    }

    .back_arrow {
    /* padding: 2em; */
    width: fit-content;
    align-items: unset;
    }

    .back_arrow > a {
        font-size: 2em;
    }

    .project_header {
        /* display: flex;
        flex-flow: row wrap; */
        align-items: center;
        justify-content: space-around;
        /* margin: 0 10%; */
    }

    .project_header > .project_title_container {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .project_header > .project_title_container > .project_title {
        flex-basis: 50%;
    }

    .project_header > .project_title_container > .project_title > h1 {
        font-weight: 500;
    }

    .project_title_container > .project_img {
        flex-basis: 50%;
    }

    .project_title_container > .project_img > img {
        max-width: 100%;
    }

    .project_info_container {
        display: flex;
        flex-direction: row;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
    }

    .project_info_section {
        flex-flow: column wrap;
        align-items: center;
        width: max-content;
        max-width: 320px;
    }

    /* .project_info_section > h3 {
        padding-bottom: .5em;
    } */

    .section_wrapper {
        margin: 5% 20%;
    }

    .serve_description_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .serve_img_container {
        display: flex;
        margin-right: 2em;
    }

    .serve_img_container > img {
        max-width: 350px;
    }

    .serve_info_container {
        display: flex;
        flex-flow: column wrap;
        max-width: 500px;
    }

    .info_container {
        margin-bottom: auto;
        /* line-height: 1.5em; */
    }

    /* .info_container > h2, h3, p, ul {
        padding: .5em 0;
    } */

    .info_container > p, ul {
        line-height: 1.5em;
    }

    .info_container > ul {
        position: relative;
        left: 1em;
    }

    .buyer_stages_container {
        display: flex;
    }

    .buyer_stages_card {
        flex-direction: column;
        flex-basis: 25%;
        background-color: white;
        text-align: center;
        border-radius: 1em;
        padding: 1.5em 1em;
        margin: 2em 1em;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }

    .buyer_stages_card > hr {
        border: 1px solid black;
        margin: .5em;
    }

    .buyer_stages_card > img {
        margin: .75em auto;
        max-width: 50%;
    }

    .buyer_stages_card > p {
        color: #656565;
    }

    #serve_role {
        padding-top: 2em;
        padding-bottom: 4em;
    }

    .yellow_section {
        background-color: #FDEFD9;
    }

    .offset_content_wrapper {
        position: relative;
        top: -7em;
        /* margin: 0 20%; */
    }

    #serve_buyer_img_container {
        margin: auto;
        max-width: 50%;
        /* position: relative;
        top: -7em; */
    }

    #serve_buyer_img_container > img {
        max-width: 100%;
    }

    .info_center {
        text-align: center;
        max-width: 75%;
        margin: auto;
    }

    .yellow_section > .offset_content_wrapper > .work_container > .work_img_wrap {
        padding: 2em 0;
        max-width: 55%;
    }

    /* .cargo_section {
        margin: 5% 20%;
    } */

    .cargo_section > .info_container_small {
        max-width: 85%;
        margin: auto;
    }

    /* .info_container_small > h2, h3, p {
        padding: .5em 0;
    } */

    .info_row_wrapper_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4em 0;
    }

    .info_row_wrapper_left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4em 0;
    }
/* 
    .info_row_left {
        display: flex;
        align-items: center;
        margin: 2em 0;
    } */

    /* .info_row_right {
        display: flex;
    } */

    .info_row_content {
        max-width: 60%;
    }

    .row_content_left {
        padding-left: 5em;
    }

    .row_content_right {
        padding-right: 5em;
    }

    .info_row_img_container {
        max-width: 40%;
        margin: auto;
    }

    .info_row_img_container > img {
        max-width: 100%;
    }

    .yellow_section > .work_container {
        margin: none;
    }

    .white_info_card_container {
        display: flex;
        justify-content: space-around;
    }

    .white_info_card {
    margin: 3em 1em;
    padding: 2em;
    background-color: white;
    border-radius: 1em;
    width: 18.5em;
    }

.white_info_card > .work_img_wrap {
        max-width: 100%;
    }

.media_background {
    background-image: url("../images/serve_media_blobs.png");
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

.media_cards_container {
    display: flex;
    cursor: pointer;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 24px;
    padding-left: 24px; */
    padding: 50px 24px;
}

.media_card {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px 0px;
    border-radius: 1em;
    margin: 2em 1em;
    overflow: hidden;
}

.media_card > h4 {
    padding: 1.5em 1em 2em 1em;
}

.media_card > img {
    width: 100%;
}

/* Uber styling */
    #uber_header {
        background-color: #D0DDE1;
    }

    .beige_background {
        background-color: #F4F1ED;
    }
    
    .rewards_img {
        margin-top: 3em;
        max-width: 100%;
    }

    .rewards_img > img {
        max-width: 100%;
    }

    .role_container {
        justify-content: center;
        align-items: center;
        height: 500px;
        }

    .role_background_blob {
        background-image: url("../images/role_background_blob.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    

    .role_text {
        width: 100%;
    }

    .qa_card_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
    }

    .qa_card {
        flex-direction: column;
        flex-basis: 25%;
        background-color: white;
        text-align: center;
        border-radius: .5em;
        padding: 1.5em 1em;
        margin: 2em 1em;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }

    .qa_card > hr {
        border: 1px solid black;
        margin: .5em;
    }

    .qa_card > img {
        margin: .75em auto;
        max-width: 50%;
    }

    .qa_card > p {
        color: #656565;
    }

    .uber_launch_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3em;
    }

    .uber_launch_img_wrapper > img {
        max-width: 100%;
    }

    .uber_launch_content {
        max-width: 65%;
        padding-left: 5em;
    }

/* Projects page styling */

    #projects_background {
        background-color: #FCF0F2;
        background-image: url(../images/project_blobs.svg);
        background-size: cover;
        background-position: center center;
        /* height: 80vh; */
        /* background-size: cover;
        background-position: center center;
        height: 90vh; */
    }

    .projects_header_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 2em;
    }

    .project_images_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .project_img_wrapper {
        width: 18em;
        margin-bottom: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .project_img_wrapper > img {
        max-width: 100%;
    }

    .img_description {
        font-size: .85em;
        color: #656565;
    }


/* More global styling */
    footer {
        background-color: #738683;
        background-size: cover;
    }

    .footer_wrap {
        display: flex;
        flex-flow: row;
        align-items: center;
        position: relative;
        justify-content: space-around;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer_text {
        margin: 5% 0;
        flex-basis: 50%;
        width: 100%;
        color: white;
    }

    .footer_text > h2 {
        margin-bottom: .5em;
    }

    .footer_text > p {
        line-height: 1.5em;
        padding: .5em;
    }

    .footer_buttons_wrap {
        color: black;
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        flex: start;
    }

    .footer_button {
        background-color: white;
        padding: 1em;
        margin-right: 2em;
        margin-top: 1em;
        border-radius: .5em;
        width: max-content;
    }

        /* 'copy' email address button */

    .footer_img_wrap {
        position: relative;
        top: -2em;
    }

    .footer_img {
        flex-basis: 50%;
        width: 100%;
        max-width: 30em;
        /* max-width: 20em; */
        /* top: -3em; */
    }

    .copy_right {
        text-align: center;
        padding-bottom: 3em;
        color: white;
    }

    

/* Media queries */
    @media only screen and (max-width: 2560px) {
       
        .header_title_small {
            display: none;
        }
    }

    /* @media only screen and (max-width: 2100px) {
        .header_title_small {
            display: none;
        }
    } */

    @media only screen and (max-width: 1100px) {
        .project_header > .project_title_container {
            flex-direction: column-reverse;
        }

        .project_title_container > .project_title {
            text-align: center;
            
        }

    }

    @media only screen and (max-width: 1015px) {
        /* add code for hamburger menu */
        
        /* turn areas of work into rotating widget */
        
        .header_title_small {
            display: none;
        }

        .project_info_container {
            text-align: center;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
        }

        .project_info_section {
            margin: 1em;
        }

        /* .info_container_small > h2, h3, p {
            padding: 0;
        } */

        .footer_buttons_wrap {
            flex-direction: column;
            max-width: fit-content;
        }
    }

    @media only screen and (max-width: 850px) {
        body {
            font-size: 17px;
        }
        
        .header_title {
            display: none;
        }

        .header_title_small {
            display: inherit;
        }

        .portfolio_row {
            display: unset;
            flex-flow: unset;
        }

        .portfolio_row > .portfolio_container {
            margin-bottom: 2em;
        }

        .portfolio_row_large {
            margin: auto;
        }

        .portfolio_container_large {
            flex-flow: column;
            flex-grow: none;
            flex-basis: none;
            max-height: none;
            padding: 0;
        }

        .portfolio_container_large > .offset_wrap {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            position: relative;
            top: -1.2em;
            left: 0;
        }

        .portfolio_container_large > .offset_wrap > .img_wrapper {
            /* max-width: 85%; */
        }
        
        .portfolio_container_large > .offset_wrap > .img_wrapper > .project_img {
            flex-basis: none;
        }

        .portfolio_container_large > .text_wrapper {
            text-align: center;
            flex-basis: none;
            width: 100%;
            max-width: 20em;
            padding: 0 2em;
        }
        
        .serve_description_wrapper {
            display: block;
        }

        .serve_info_container {
            max-width: unset;
        }

        .serve_img_container {
            display: block;
            width: fit-content;
            margin: auto;
        }

        #serve_role {
            padding-top: 1em;
            padding-bottom: 4em;
        }

        #serve_buyer_img_container {
            max-width: 75%;
        }

        .buyer_stages_container {
            display: block;
            margin: auto;
            max-width: 400px;
        }

        .white_info_card_container {
            display: block;
            margin: auto;
            max-width: 400px;
        }

        .white_info_card {
            margin: unset;
            margin-top: 1em;
            width: unset;
        }

        /* .info_container{
            margin-top: 3em;
        } */

        .info_row_wrapper_right {
            flex-direction: column-reverse;
        }

        .row_content_right {
            padding-right: 0;
            padding-top: 1em;
        }

        .info_row_wrapper_left {
            flex-direction: column;
        }

        .row_content_left {
            padding-left: 0;
            padding-top: 1em;
        }

        .info_row_img_container {
            max-width: 60%;
        }

        .media_cards_container {
            display: block;
            max-width: 400px;
            padding: 0;
        }

        .role_text > .main_width > .main_padding > .info_container {
            margin-top: 0;
        }

}

    @media only screen and (max-width:720px) {
        
        .footer_wrap {
            /* margin: auto; */
            padding-right: 24px;
            padding-left: 24px;
        }
        
        .footer_text {
            flex-basis: unset;
        }
        
        .footer_img_wrap {
            display: none;
        }
    }