@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

header {
    background-color: white;
}

body {
    background-color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Aleo', serif;
}

h1 {
    color: #000000;
    font-size: 4em;
}

h2 {
    font-size: 3em;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

header a{
    padding: 2em;
}

a {
    text-decoration: none; 
    color: black;
}

.global_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.global_nav_left {
    flex-basis: 50%;
    text-align: left;
    padding: 1.5em;
    font-family: 'Aleo', serif;
    font-weight: bold;
    letter-spacing: .15em;
}

.global_nav_right {
    flex-basis: 50%;
    text-align: right;
    padding: 1.5em;
}

#header_blobs {
    background-image: url("../images/header_blobs.svg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 43.75em;
    max-height: 54.375em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 20em 10em; */
}

#header_content_wrap {
    margin-bottom: 4em;
}

#header_title {
    text-align: center;
}

#header_subtitle {
    font-size: 1.5em;
    color: #464646;
    text-align: center;
    padding: 1em;
}

#bottom_squiggle {
    background-image: url("../images/squiggle_section.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#work_background {
    background-color: #EDF6FF;
    /* min-height: 58em; */
    /* width: 100%; */
}

#work_title {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#areas_of_work {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 15%;
    padding-bottom: 8em;
    max-width: 100%;
}

.work {
    flex-basis: 33%;
    text-align: center;
    padding: 1.5em 2em;
    font-weight: 400;
    font-size: 1.5em;
}

.work > img {
    max-width: 100%;
    padding: 0 2.5em 0 2.5em;
}


#portfolio {
    margin: 5% 10%;
}

.portfolio_row {
    display: flex;
    flex-flow: row wrap;
}

.portfolio_container {
    margin: 2em;
    border-radius: 1.5em; 
}

.portfolio_container#postmates {
    background-color: #FCECD2;
}

.portfolio_container#uber {
    background-color: #C0CCE0;
}

.portfolio_container_large#projects {
    background-color: #FCF0F2;
}

.portfolio_row > .portfolio_container{
    flex-grow: 1;
    flex-basis: 40%;
}

.portfolio_container > .offset_wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
    top: -1.2em;
}

.portfolio_container > .offset_wrap > .text_wrapper {
    max-width: 20em;
    text-align: center;
    margin: 0 2em;
}

.portfolio_container > .offset_wrap > .text_wrapper > h2 {
    line-height: 1em;
    padding-bottom: .5em;
}

.portfolio_container > .offset_wrap > .text_wrapper > p {
    line-height: 2em;
}

.portfolio_container > .offset_wrap > .text_wrapper > a {
    line-height: 2em;
    font-weight: 600;
    padding: 2em;
    display: block;
}

.portfolio_container > .img_wrapper {
    

}

.project_img {
    max-width: 100%;
}

.portfolio_row_large {
    display: flex;
    flex-flow: row wrap;
}

.portfolio_container_large {
    margin: 2em;
    border-radius: 1.5em; 
}

.portfolio_row_large > .portfolio_container_large {
    flex-grow: 1;
    flex-basis: 40%;
}

.portfolio_container_large > .offset_wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.portfolio_container_large > .offset_wrap > .text_wrapper {
    max-width: 20em;
    text-align: center;
    margin: 0 2em;
}

.portfolio_container_large > .offset_wrap > .text_wrapper > h2 {
    line-height: 1em;
    padding-bottom: .5em;
}

.portfolio_container_large > .offset_wrap > .text_wrapper > p {
    line-height: 2em;
}

.portfolio_container_large > .offset_wrap > .text_wrapper > a {
    line-height: 2em;
    font-weight: 600;
    padding: 2em;
    display: block;
}

.portfolio_container_large > .offset_wrap > .img_wrapper {
    max-width: 45%;
}

.portfolio_container_large > .offset_wrap > .img_wrapper > .project_img {
    position: relative;
    top: -3em;
}

footer {
    background-color: #738683;
    background-size: cover;
}

.footer_wrap {
    padding: 0 10%;
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    /* top: -1.2em; */
    /* display: flex;
    flex-direction: row; */
    justify-content: space-around;
}

.footer_text {
    /* margin: 10%; */
    flex-basis: 50%;
    width: 100%;
    color: white;
}

.footer_text > h2 {
    margin-bottom: .5em;
}

.footer_text > p {
    line-height: 1.5em;
    padding: .5em;
}

.footer_buttons_wrap {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around left;
}

.footer_button {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
}

.footer_img_wrap {
    position: relative;
    top: -2em;
}

.footer_img {
    flex-basis: 50%;
    width: 100%;
    max-width: 30em;
    /* max-width: 20em; */
    /* top: -3em; */
}

.copy_right {
    text-align: center;
    padding-bottom: 3em;
    color: white;
}